.sec-title,.sec-title2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-decoration: underline;
    text-align: center;
}
.sec-text{
    background-color: #2e2f42;
    text-align: center;
}
.sec-title{
    font-size: 56px; 
    line-height: 1.07;
    color:#ffffff;
    
    
}
.sec-title2{
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    text-align: center; 
    text-transform: capitalize;

}
.features-title{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color:#2e2f42;
}
.feature-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.port-item {
    background-color: #ffffff; 
    text-align: center;
}
.logo-link{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: #4d5ae5; 
    text-transform: uppercase; 
    text-decoration: none; 

}
.logo-link .logo-studio{
    color: #2e2f42;
}
.studio2{
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;  
    text-transform: uppercase

}
.nav-link-body-medium{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.button-text{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #ffffff;
    text-align: center;
}
.button-text:hover,
.button-text:focus{
    background-color:#404bbf;
    color: #ffffff;
    cursor: pointer;
}

header{
    background-color: #e7e9fc;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;  
}
.addrees-info{
    font-style: normal;
}
.address-link-body-small{
    font-style: normal;
    color: #434455;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;

}

.address-link-body-small:hover,
.address-link-body-small:active{
    color: #404bbf;
}
.nav-link-body-medium:hover{
    color: #404bbf;
}
.nav-link-body-medium:active{
    color: #404bbf;
    text-decoration: underline;
}
.sec-text2{
    background-color: #f4f4fd;
}
.team-member {
    background-color: #ffffff; 
    text-align: center; 
}

.page-footer {
    background-color: #2e2f42;
    padding: 20px;
    text-align: center;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: #4d5ae5; 
    text-decoration: none; 
}

.footer-logo-part {
    color: #f4f4fd; 
}

.footer-text {
    color: #f4f4fd;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
