/* Logo stilleri */
.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: #4d5ae5; 
    text-transform: uppercase; 
    text-decoration: none; 
}

.logo-part {
    color: #2e2f42; 
}

/* Navigasyon linkleri */
.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none; /
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf; 
}


.address-info {
    font-style: normal; 
}

.address-link {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none; 
}

.address-link:hover,
.address-link:focus {
    color: #404bbf; 
}
.hero-section {
    background-color: #2e2f42;
    text-align: center; 
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    color: #ffffff;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    text-align: center; 
    
}


.feature-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.feature-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.page-footer {
    background-color: #2e2f42;
    padding: 20px;
    text-align: center;
}
.team-section {
    background-color: #f4f4fd; 
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    text-align: center; 
}

.team-member {
    background-color: #ffffff; 
    text-align: center; 
}

.team-member-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-member-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    text-align: center; 
   
}

.portfolio-item {
    background-color: #ffffff; 
    text-align: center;
}

.portfolio-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
   
}

.portfolio-item-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    color: #4d5ae5; 
    text-decoration: none; 
}

.footer-logo-part {
    color: #f4f4fd; 
}

.footer-text {
    color: #f4f4fd;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
